<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourProjectName</title>

    <!-- Добави Bootstrap CSS тук -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" integrity="sha384-..." crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!-- Навигация или други елементи, които искаш да има във всички страници -->
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <!-- Футър -->
    </footer>

    <!-- Добави Bootstrap JS тук -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha384-..." crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
